/node_modules
/public/hot
/public/storage
/public/images/gallery/*
/public/images/carousel/*
/public/images/items/*
!/public/images/items/item_default.jpg
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
.DS_Store
